.follow-unfollow {
  align-self: center;

  .follow,
  .unfollow {
    background-color: transparent;
    margin-top: 5px;
    i {
      font-size: 30px;
    }
  }
  .unfollow {
    color: $third2;
  }

  .follow {
    color: $first3;
  }

  .follow-card,
  .unfollow-card {
    color: $first3;
    background: transparent;
    i {
      font-size: 25px;
    }
  }
}
