.container-friend {
  position: relative;
  margin-top: 50px;
  box-shadow: 0 0 5px $grey2;

  &.none {
    display: none;
  }

  h4 {
    padding: 10px 20px 5px;
    color: $black1;
  }

  .before-btn,
  .after-btn {
    position: absolute;
    height: 200px;
    margin: 10px 0;
    width: 60px;
    z-index: 1;
    background-color: transparent;
    color: $grey2;
    i {
      font-size: 50px;
    }
  }

  .before-btn {
    bottom: 0;
    left: 0;
  }
  .after-btn {
    bottom: 0;
    right: 0;
  }

  .friends {
    width: 850px;
    display: flex;
    margin: auto;
    overflow: hidden;
    // height: 220px;

    ul {
      display: flex;
      margin-bottom: 10px;
      transition: transform 0.5s ease-in-out;
      li {
        border: 2px solid $grey1;
        margin: 0 3px;
        button {
          @extend %flexCenter;
          flex-direction: column;
          text-align: center;
          margin: 10px 5px;
          border-radius: 4px;
          background-color: transparent;

          min-width: 150px;
          img {
            width: 130px;
            height: 130px;
            border-radius: 30px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .container-friend {
    .before-btn,
    .after-btn {
      height: 180px;
    }
    .friends {
      width: 480px;
      height: fit-content;

      ul {
        height: fit-content;
        margin: 10px 0;
        li {
          margin: 0 2.5px;
          button {
            min-width: 100px;
            // height: 150px;
            img {
              width: 70px;
              height: 70px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .container-friend {
    .before-btn,
    .after-btn {
      position: absolute;
      height: 170px;
      margin: 0;
      width: 30px;
      z-index: 1;
      background-color: transparent;
      color: $grey2;
      i {
        font-size: 30px;
      }
    }
    .friends {
      width: 240px;

      ul {
        li {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin: 0;
          button {
            min-width: 76px;
            max-width: 76px;
            overflow-wrap: break-word;
            word-break: break-all;
            margin: 0;
            // border: 1px solid $grey1;
          }
        }
      }
    }
  }
}
