$black1: #343a40;
$black2: #212529;
$black3: #000000;

$white1: #ffffff;
$white2: #f7f7ff;
$white3: #e9ecef;

$grey1: #dee2e6;
$grey2: #adb5bd;
$grey3: #495867;

$first1: #bdd5ea; // 60
$first2: #577298; // 60
$first3: #455a78; // 60

// $second1: #d6eadf; // 30
// $second2: #b8e0d2; // 30
// $second3: #95d0bb; // 30

$third1: #fe8d85; //10
$third2: #fd5f53; //10
$third3: #fd3021; //10
